extends layout

block content
  div.tribune-config(data-tribune-id=tribune.id)
    h1
      a(href=tribune.url)= tribune.title

    form(action="",method="post")
      ul
        li
          label(for="tribune-title") Title
          input(id="tribune-title",type="text",name="title",value=tribune.title)

        li
          label(for="user-authentication") Require user authentication
          input(id="user-authentication",name="user-authentication",type="checkbox",checked=tribune.require_user_authentication,value="1")

        li
          label(for="anonymous") Anonymous
          input(id="anonymous",name="anonymous",type="checkbox",checked=tribune.anonymous,value="1")

        p
          input(type="submit",value="Save")
