extends layout

block content
  div.tribune(data-tribune-id=tribune.id,data-max-posts=tribune.max_posts)
    h1= title
      if tribune.admin && user && tribune.admin.miaoliId == user.miaoliId
        a.config(href=tribune.config_url) configure
    ol.posts
      each post in tribune.posts
        include post

    form(action=tribune.post_url,method="post")
      if user
        input(type="text",name="nickname",value=user.displayName,disabled="disabled",readonly="readonly",placeholder="Nickname")
        input(class="message-input",type="text",name="message",placeholder="Your message")
        input(type="submit",value="⏎")
      else if !tribune.require_user_authentication
        input(type="text",name="nickname",placeholder="Nickname")
        input(class="message-input",type="text",name="message",placeholder="Your message")
        input(type="submit",value="⏎")
      else
        span.please Please login to participate.
