extends layout

block content
  div.tribune(data-tribune-id=tribune.id,data-max-posts=tribune.max_posts)
    h1= title
      if user
        form
          fieldset.switch.tiny.round
            input#subscribe.subscribe(type="checkbox")
            label(for="subscribe") plop
      if tribune.admin && user && tribune.admin.miaoliId == user.miaoliId
        a.config(href=tribune.config_url) configure
    ol.posts
      each post in tribune.posts
        include post

    form#tribune-post(action=tribune.post_url,method="post")
      if user
        div.row
          div.large-6.column
            div.row.collapse
              div.large-2.column
                input.prefix(type="text",name="nickname",value=user.displayName,disabled="disabled",readonly="readonly",placeholder="Nickname")
              div.large-8.column
                input(class="message-input",type="text",name="message",placeholder="Your message")
              div.large-2.column
                input.button.postfix.radius(type="submit",value="⏎")
      else if !tribune.require_user_authentication
        div.row
          div.large-6.column
            div.row.collapse
              div.large-2.column
                input(type="text",name="nickname",placeholder="Nickname")
              div.large-8.column
                input(class="message-input",type="text",name="message",placeholder="Your message")
              div.large-2.column
                input.postfix(type="submit",value="⏎")
      else
        span.please Please login to participate.
