extends layout

block content
  div.tribune(data-tribune-id=tribune.id,data-max-posts=tribune.max_posts,data-token=token)
    h1= title
      if user
        form
          fieldset.switch.tiny.round
            input#subscribe.subscribe(type="checkbox")
            label(for="subscribe") plop
      if tribune.admin && user && tribune.admin.miaoliId == user.miaoliId
        a.config(href=tribune.config_url) configure
    ol.posts
      - var posts = tribune.latest_posts()
      each post in posts
        include post

    form#tribune-post(action=tribune.url,method="post")
      div.row.collapse
        div.large-11.column
          input(class="message-input",type="text",name="message",placeholder="Your message")
        div.large-1.column
          input.button.radius.postfix(type="submit",value="⏎")
      div.row.collapse
        if user
          div.large-6.column You are posting as <span class="user">#{user.displayName}</span>
        else if !tribune.require_user_authentication
          div.large-6.column
            div.row.prefix-radius.row.collapse
              div.large-3.column
                input.email(name="email",value="dont@change.org",title="don't modify this field, this is a decoy for automated posters")
                label.left.prefix(for='nickname') Nickname
              div.large-9.column
                input.left-label(type="text",name="nickname",placeholder="Nickname",id="nickname")
        else
          div.large-6.column You need to be authenticated to post here.
        div.large-6.column.tags
          div.row
            div.large-12.column Allowed tags are <button data-tag="i">&lt;i&gt; (<i>italic</i>)</button>, <button data-tag="b">&lt;b&gt; (<b>bold</b>)</button>, <button data-tag="u">&lt;u&gt; (<u>underline</u>)</button>, <button data-tag="s">&lt;s&gt; (<s>stroke</s>)</button>
          div.row
            div.large-12.column Links beginning with "<a>http</a>" will be minimized and shown as <a>[url]</a>
